# API Gateway
API_GATEWAY_PORT=3000
JWT_SECRET=secret

# Location Service
LOCATION_SERVICE_PORT=3001
LOCATION_DB_HOST=localhost
LOCATION_DB_PORT=5432
LOCATION_DB_NAME=location_db
LOCATION_DB_USER=postgres
LOCATION_DB_PASSWORD=postgres

# Ride Service
RIDE_SERVICE_PORT=3002
RIDE_DB_HOST=localhost
RIDE_DB_PORT=5432
RIDE_DB_NAME=ride_db
RIDE_DB_USER=postgres
RIDE_DB_PASSWORD=postgres

# Notification Service
NOTIFICATION_SERVICE_PORT=3003
NOTIFICATION_DB_HOST=localhost
NOTIFICATION_DB_PORT=5432
NOTIFICATION_DB_NAME=notification_db
NOTIFICATION_DB_USER=postgres
NOTIFICATION_DB_PASSWORD=postgres

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672